@using Nancy.Bundle
@using WebSampleApp.Bundles
<!DOCTYPE html>
<html>
<head>
    <title>Example view - page</title>
    <meta charset="utf-8" />

    <!--This Example uses key as string -->
    @Html.Raw(Bundles.GetCssKey("my-css"))
</head>
<body>

    <p>Page View</p>

    <p>You should see a alert box</p>
    <!--For strong type reasons this line uses an instance of the bundle to que the key-->
    @Html.Raw(Bundles.GetJsKey(new PageStyle().ReleaseKey()))
</body>
</html>